*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: #E0FFFF;
    font-family: 'Roboto', sans-serif;
   
}

header1 h1{
    background-color: #329FA6;
    color: #000000;
    margin: 0;
    border: 0;
    padding: 2%;
    text-align: center; 
}

section5 h2{
    background-color: #fffff;
    color: #000000;
    border: 0;    
}

.precos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.precos img {
    width: 500px;
    height: 300px;
    padding-right: 80px;
    padding-top: 20px;    
}

main{
    background-color: #F0E68C;
    color: #000000;
    margin: 10px;
    border: 0;
    text-align: center;
    
}

section9  div1{
    background-color: #F0E68C;
    color: #FF0000;
    margin: 10px;
    border: 0;
    
}

section9  div2{
    background-color: #F0E68C;
    color: #000000;
    margin: 10px;
    border: 0;
    
}

footer{
        background-color: #329FA6; 
        text-align: center;
        color: #00000;
    }

@media only screen and (max-width: 321px) {
    .precos {
        flex-direction: column;
    }
    .precos img {
        width: 320px;
        padding-left: 30px;
    }
}